%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%meta{ :"http-equiv" => "content-type" , :content =>"text/html; charset=utf-8" }
		%link{ :href => 'components\components-font-awesome\css\font-awesome.min.css'}
		%link{ :href => 'components\jquery-modal\jquery.modal.css' , :type=>'text/css' , :rel=>'stylesheet' }

		%link{ :href=>'css/general_all.css' , :type=>'text/css' , :rel=>'stylesheet' }

		%link{ :href => 'components\unslider\dist\css\unslider.css', :type=>'text/css' , :rel=>'stylesheet'}
		%link{ :href => 'components\unslider\dist\css\unslider-dots.css', :type=>'text/css' , :rel=>'stylesheet'}
		%link{ :href => 'components\animate.css\animate.min.css', :type=>'text/css' , :rel=>'stylesheet'}
		%link{ :href => 'components\webui-popover\dist\jquery.webui-popover.min.css', :type=>'text/css' , :rel=>'stylesheet'}

	%body

		%main

			%section#first-page
				%header
					%aside
						%a{ :href => 'index.html' }
							%img{ :src=>'images/logo.jpg'}
					%nav
						%ul
							%li
								%a{ :href=>'#' } Главная
							%li
								%a{ :href=>'#' } Почему мы
							%li
								%a{ :href=>'#' } Отделения
							%li
								%a{ :href=>'#' } Отзывы
							%li
								%a{ :href=>'#', :class => 'js-show-vk-news' } Новости
						%article
							%img{ :src => 'images/ico-header-phone.png' }
							%span 8 800 337 80 91

					.tringle
						%img{ :src => 'images/header-tringel.png' }
					%aside
						%article
							.button
								%a{ :href => 'http://lk.cdek.ru/index.php/site/register'} Регистрация
							.button
								%a{ :href => 'http://lk.cdek.ru/index.php/site/login'} Вход
						#field-for-popover-city
						%article
							%p
								%span
									Ваш город

							.line
								.line-icon
									%img{ :src => 'images/ico-header-location.png' }
								.styled-select.slate
									%input#select-my-city
										-# %option Выберите город...
										-# %option{ :value => "0" } Санкт-Петербург
										-# %option{ :value => "1" } Москва
							.line
								.line-icon
									%img{ :src => 'images/ico-header-search.png' }
								%input{ :type => 'text', :placeholder => 'Введите трек номер' }

				%article.slider
					%ul
						%li
							.title
								%h1 Перевод наложенного
								%h1
									платежа на
									%strong 3-ий день!
							.caption
								Обьединение отделений компании СДЭК предоставляет особые условия для Интернет-магазинов, поступления накапливаются с Понедельника по Пятницу и отправляются каждый Понедельник!

						%li Another slide
						%li My last slide

				%article.language
					#google_translate_element
					%a.active{ :href=>'#' } Rus
					%a{ :href=>'#' } Eng
					%a{ :href=>'#' } Chn

				#advantages
					.figures-wrapper
						%figure
							%div
								%img{ :src => 'images/ico-settings.png' }
							%figcaption
								%strong 16 лет
								%br
								успешной работы на мировом рынке

						%figure
							%div
								%img{ :src => 'images/ico-globus.png' }
							%figcaption
								%strong 300 пунктов
								%br
								выдачи - отправки посылок

						%figure
							%div
								%img{ :src => 'images/ico-location.png' }
							%figcaption.fat
								%strong 14 дней
								%br
								бесплатного хранения посылок на нашем складе

						%figure
							%div
								%img{ :src => 'images/ico-home.png' }
							%figcaption
								%strong API
								бесплатная интеграция вашего магазина

			%section#second-page.info-page
				.content
					%h1 Почему это выгодно для Вас

					%ul.whylist
						%li.wow.fadeIn
							%span.fa-stack.fa-lg
								%i.fa.fa-circle.fa-stack-2x
								%i.fa.fa-phone.fa-stack-1x.fa-inverse
							.desc-wrapper
								.desc
									Перевод наложенного платежа в 9:00 утра
								.desc-more
									Desk more field
							.more-wrapper
								%span.more
									Подробнее
									%span.arrow >

						%li.wow.fadeIn
							%span.fa-stack.fa-lg
								%i.fa.fa-circle.fa-stack-2x
								%i.fa.fa-gift.fa-stack-1x.fa-inverse
							.desc-wrapper
								.desc
									Бесплатная API интеграция
								.desc-more
									Desk more field
							.more-wrapper
								%span.more
									Подробнее
									%span.arrow >

						%li.wow.fadeIn
							%span.fa-stack.fa-lg
								%i.fa.fa-circle.fa-stack-2x
								%i.fa.fa-mobile.fa-stack-1x.fa-inverse
							.desc-wrapper
								.desc
									%strong СМС-
									оповещения с номером курьера
								.desc-more
									Desk more field
							.more-wrapper
								%span.more
									Подробнее
									%span.arrow >

						%li.wow.fadeIn
							%span.fa-stack.fa-lg
								%i.fa.fa-circle.fa-stack-2x
								%i.fa.fa-money.fa-stack-1x.fa-inverse
							.desc-wrapper
								.desc
									Финансовая надежность
								.desc-more
									Desk more field
							.more-wrapper
								%span.more
									Подробнее
									%span.arrow >

					.add-services-wrapper
						%div
							Дополнительные услуги

						%div
							.add-services
								%img{ :src => 'images/voskl.png', :data => { :content => 'текст с объяснением', :animation => 'pop'} }

								%img{ :src => 'images/exitdoor.png', :data => { :content => 'текст с объяснением', :animation => 'pop'} }

								%img{ :src => 'images/carlogistic.png', :data => { :content => 'текст с объяснением', :animation => 'pop'} }

								%img{ :src => 'images/numberblock.png', :data => { :content => 'текст с объяснением', :animation => 'pop'} }

								%img{ :src => 'images/stair.png', :data => { :content => 'текст с объяснением', :animation => 'pop'} }

			%section.section-page-title
				%h1 Почему это выгодно для Ваших клиентов

			%section#third-page.info-page
				.content
					%ul.whylist
						%li.wow.fadeIn
							%span.fa-stack.fa-lg
								%i.fa.fa-circle.fa-stack-2x
								%i.fa.fa-phone.fa-stack-1x.fa-inverse
							.desc-wrapper
								.desc
									Бесплатный прозвон клиентов перед доставкой
								.desc-more
									Desk more field
							.more-wrapper
								%span.more
									Подробнее
									%span.arrow >

						%li.wow.fadeIn
							%span.fa-stack.fa-lg
								%i.fa.fa-circle.fa-stack-2x
								%i.fa.fa-gift.fa-stack-1x.fa-inverse
							.desc-wrapper
								.desc
									Бесплатная фирменная упаковка и маркировка посылки
								.desc-more
									Desk more field
							.more-wrapper
								%span.more
									Подробнее
									%span.arrow >

						%li.wow.fadeIn
							%span.fa-stack.fa-lg
								%i.fa.fa-circle.fa-stack-2x
								%i.fa.fa-mobile.fa-stack-1x.fa-inverse
							.desc-wrapper
								.desc
									СМС- оповещение с номером курьера
								.desc-more
									Desk more field
							.more-wrapper
								%span.more
									Подробнее
									%span.arrow >

						%li.wow.fadeIn
							%span.fa-stack.fa-lg
								%i.fa.fa-circle.fa-stack-2x
								%i.fa.fa-money.fa-stack-1x.fa-inverse
							.desc-wrapper
								.desc
									СМС- оповещение с номером курьера
								.desc-more
									Desk more field
							.more-wrapper
								%span.more
									Подробнее
									%span.arrow >

					.add-services-wrapper
						%div
							Дополнительные услуги

						%div
							.add-services
								%img{ :src => 'images/voskl.png', :data => { :content => 'текст с объяснением', :animation => 'pop'} }

								%img{ :src => 'images/exitdoor.png', :data => { :content => 'текст с объяснением', :animation => 'pop'} }

								%img{ :src => 'images/carlogistic.png', :data => { :content => 'текст с объяснением', :animation => 'pop'} }

								%img{ :src => 'images/numberblock.png', :data => { :content => 'текст с объяснением', :animation => 'pop'} }

								%img{ :src => 'images/stair.png', :data => { :content => 'текст с объяснением', :animation => 'pop'} }

			%section.section-page-title
				%h1 Калькулятор расчета

			%section#fourth-page.info-page
				.sides
					%aside.fourth-page-aside-left
						%fieldset.town
							.fieldset-title
								%i.fa.fa-building-o.fa-2x
								%span Город

							.fieldset-form
								.fieldset-input
									%p Откуда
									%input

								.fieldset-input
									%p Куда
									%input

						%fieldset.worker
							.fieldset-title
								%i.fa.fa-map-marker.fa-2x
								%span Место доставки

							.fieldset-form
								.fieldset-input
									%p Откуда
									.styled-select.blue
										%select
											%option Склад
											%option Дверь

								.fieldset-input
									%p Куда
									.styled-select.blue
										%select
											%option Склад
											%option Дверь

						%article.post-weight
							%img{ :src => 'images/ico-fourth-page-box.png' }
							%span
								Вес посылки:
								%strong 5кг

					%aside.fourth-page-aside-right
						.radios
							%aside
								.style-radio
									%input#radio01{ :type => 'radio' , :name => "radio" }
									%label{ :for => "radio01"}
										%span
										%p
											Дополнительная
											%br
											упаковка
							%aside
								.style-radio
									%input#radio02{ :type => 'radio' , :name => "radio" }
									%label{ :for => "radio02"}
										%span
										%p
											Дополнительная
											%br
											опция

						.calc-result
							%strong
								Итого:
							%span
								250 рублей

				.ranger
					.style-range
						%input{ :type => 'range' , :value => '13' , :min => '1' , :max => '28'}

			%section#fifth-page
				%h1 Остались вопросы?
				%p Получите бесплатную консультацию
				%button.js-show-contact-modal
					Получить

			%section.section-page-title
				%h1 Наши пункты выдачи
				%p Более 306 пунктов выдачи по всей России

			%section#sixth-page
				#sixth-page-overlay
				-# #cdek_map
				%iframe{ :src=>"https://www.google.com/maps/d/embed?mid=zyyKoXrs15N0.k-hQNcaBe3MM", :width=>"100%", :height=>"480"}
				-# %iframe{ :src => "https://ru.batchgeo.com/map/5d06b4c1024195f1d6197324bac66732", :width => "100%", :height => "480" }
				-# %iframe{ :src => "https://mapalist.com/map/582448", :width => "100%", :height => "480", :xml => { :lang => "ru"} }

			%section.section-page-title
				%h1 Отзывы
				%p С нами работают крупные компании

			%section#eighth-page.info-page
				.slider
					%ul
						%li
							.content
								%article
									.message-box
										.dialogbox
											.body
												.message
													%strong Lorem ipsum dolor sit amet
													%br
													%span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
												%span.tip.tip-down
									%img{ :src => 'images/virgin-logo.png' }

								%article
									.message-box
										.dialogbox
											.body
												.message
													%strong Lorem ipsum dolor sit amet
													%br
													%span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
												%span.tip.tip-down
									%img{ :src => 'images/lg-logo.png' }

								%article
									.message-box
										.dialogbox
											.body
												.message
													%strong Lorem ipsum dolor sit amet
													%br
													%span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
												%span.tip.tip-down
									%img{ :src => 'images/via-logo.png' }

						%li
							.content
								%article
									.message-box
										.dialogbox
											.body
												.message
													%strong Lorem ipsum dolor sit amet
													%br
													%span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
												%span.tip.tip-down
									%img{ :src => 'images/virgin-logo.png' }

								%article
									.message-box
										.dialogbox
											.body
												.message
													%strong Lorem ipsum dolor sit amet
													%br
													%span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
												%span.tip.tip-down
									%img{ :src => 'images/lg-logo.png' }

								%article
									.message-box
										.dialogbox
											.body
												.message
													%strong Lorem ipsum dolor sit amet
													%br
													%span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
												%span.tip.tip-down
									%img{ :src => 'images/via-logo.png' }

						%li
							.content
								%article
									.message-box
										.dialogbox
											.body
												.message
													%strong Lorem ipsum dolor sit amet
													%br
													%span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
												%span.tip.tip-down
									%img{ :src => 'images/virgin-logo.png' }

								%article
									.message-box
										.dialogbox
											.body
												.message
													%strong Lorem ipsum dolor sit amet
													%br
													%span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
												%span.tip.tip-down
									%img{ :src => 'images/lg-logo.png' }

								%article
									.message-box
										.dialogbox
											.body
												.message
													%strong Lorem ipsum dolor sit amet
													%br
													%span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
												%span.tip.tip-down
									%img{ :src => 'images/via-logo.png' }

			%footer

				%aside
					%h1 Мы работаем для вас!
					%p Задайте интересующие вас вопросы в форме обратной связи и специалисты свяжутся с вами в ближайшее время

					%fieldset
						%p Подписаться на новости
						%input{ :type => 'text', :placeholder => 'Введите Email', :type => 'email' }

				%aside
					%h1 8 800 250 5 250
					%p Санкт Петербург, пл.Ленина БЦ Большой офис 777

					#social-icons
						%a{ :href => 'https://vk.com/cdekexpress'}
							%img{ :src => 'images/facebook-logo.png' }

						%a{ :href => 'https://vk.com/cdekexpress'}
							%img{ :src => 'images/twitter-logo.png' }

						%a{ :href => 'https://vk.com/cdekexpress'}
							%img{ :src => 'images/vk-logo.png' }

			#add-blocks
				#vk-news
					#vk_groups
				#select-city
					%p
						Ваш город
						%span Санкт-Петербург
						?
					%button.btn-yes Да
					%button.btn-select Выбрать

				-# Мадальное окно с получение консультации
				#contact-modal
					.contact-title
						%h1 Оставьте ваши данные
					.contact-body
						%form
							%span Ваше имя
							%input{ :type => 'text' }
							%span Ваш телефон
							%input{ :type => 'email' }

							%input{ :type => 'submit' , :value => 'Отправить' }

		%script{ :src => '//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit' }
		%script{ :src => 'http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false', :type => 'text/javascript' }
		%script{ :src => '//vk.com/js/api/openapi.js?121' }

		%script{ :type=>'text/javascript' , :src=>'bundle.js' }
