%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%meta{ :"http-equiv" => "content-type" , :content =>"text/html; charset=utf-8" }
		%link{ :href=>'css/general_all.css' , :type=>'text/css' , :rel=>'stylesheet' }
	%body
		Example haml file

		%main
			%aside#menu-region
				Menu region
			%section#content-region
				Content region

		%script{ :type=>'text/javascript' , :src=>'bundle.js' }