%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%meta{ :"http-equiv" => "content-type" , :content =>"text/html; charset=utf-8" }
		%link{ :href => 'components\components-font-awesome\css\font-awesome.min.css'}
		%link{ :href=>'css/general_all.css' , :type=>'text/css' , :rel=>'stylesheet' }
	%body

		%main

			%section#first-page
				%header
					%aside
						%img{ :src=>'images/logo.jpg'}
					%nav
						%ul
							%li
								%a{ :href=>'#' } Главная
							%li
								%a{ :href=>'#' } Почему мы
							%li
								%a{ :href=>'#' } Отделения
							%li
								%a{ :href=>'#' } Отзывы
							%li
								%a{ :href=>'#' } Новости
						%article
							%img{ :src => 'images/ico-header-phone.png' }
							%span 8 800 337 80 91

					.tringle
						%img{ :src => 'images/header-tringel.png' }
					%aside
						%article
							.button
								%a Регистрация
							.button
								%a Вход
						%article
							%p Ваш город
							.line
								.line-icon
									%img{ :src => 'images/ico-header-location.png' }
								.styled-select.slate
									%select
										%option Санкт-Петербург
										%option Москва
							.line
								.line-icon
									%img{ :src => 'images/ico-header-search.png' }
								%input{ :type => 'text', :placeholder => 'Введите трек номер' }

				%article.slider
					.title
						%h1 Перевод наложенного
						%h1
							платежа на
							%strong 3-ий день!
					.caption
						Обьединение отделений компании СДЭК предоставляет особые условия для Интернет-магазинов, поступления накапливаются с Понедельника по Пятницу и отправляются каждый Понедельник!

				%article.language
					%a.active{ :href=>'#' } Rus
					%a{ :href=>'#' } Eng
					%a{ :href=>'#' } Chn

				#advantages
					%figure
						%p
							%img{ :src => 'images/ico-settings.png' }
						%figcaption
							%strong 16 лет
							успешной работы на мировом рынке

					%figure
						%p
							%img{ :src => 'images/ico-globus.png' }
						%figcaption
							%strong 300 пунктов
							выдачи - отправки посылок

					%figure
						%p
							%img{ :src => 'images/ico-location.png' }
						%figcaption
							%strong 14 дней
							бесплатного хранения посылок на нашем складе

					%figure
						%p
							%img{ :src => 'images/ico-home.png' }
						%figcaption
							%strong API
							бесплатная интеграция вашего магазина

			%section#second-page.info-page
				.content
					%h1 Почему это выгодно для Вас

					%ul.whylist
						%li
							%span.fa-stack.fa-lg
								%i.fa.fa-circle.fa-stack-2x
								%i.fa.fa-phone.fa-stack-1x.fa-inverse
							.desc-wrapper
								.desc
									Перевод наложенного платежа в 9:00 утра
							.more-wrapper
								%span.more
									Подробнее
									%span.arrow >

						%li
							%span.fa-stack.fa-lg
								%i.fa.fa-circle.fa-stack-2x
								%i.fa.fa-gift.fa-stack-1x.fa-inverse
							.desc-wrapper
								.desc
									Бесплатная API интеграция
							.more-wrapper
								%span.more
									Подробнее
									%span.arrow >

						%li
							%span.fa-stack.fa-lg
								%i.fa.fa-circle.fa-stack-2x
								%i.fa.fa-mobile.fa-stack-1x.fa-inverse
							.desc-wrapper
								.desc
									%strong СМС-
									оповещения с номером курьера
							.more-wrapper
								%span.more
									Подробнее
									%span.arrow >

						%li
							%span.fa-stack.fa-lg
								%i.fa.fa-circle.fa-stack-2x
								%i.fa.fa-money.fa-stack-1x.fa-inverse
							.desc-wrapper
								.desc
									Финансовая надежность
							.more-wrapper
								%span.more
									Подробнее
									%span.arrow >

					.add-services-wrapper
						%div
							Дополнительные услуги

						%div
							%span.add-services
								%span.fa-stack
									-# %i.fa.fa-circle.fa-stack-2x
									%i.fa.fa-exclamation.fa-stack-1x

								%span.fa-stack
									-# %i.fa.fa-circle.fa-stack-2x
									%i.fa.fa-sign-out.fa-stack-1x

								%span.fa-stack
									-# %i.fa.fa-circle.fa-stack-2x
									%i.fa.fa-car.fa-stack-1x

								%span.fa-stack
									-# %i.fa.fa-circle.fa-stack-2x
									%i.fa.fa-line-chart.fa-stack-1x

			%section.section-page-title
				%h1 Почему это выгодно для Ваших клиентов

			%section#third-page.info-page
				.content
					%ul.whylist
						%li
							%span.fa-stack.fa-lg
								%i.fa.fa-circle.fa-stack-2x
								%i.fa.fa-phone.fa-stack-1x.fa-inverse
							.desc-wrapper
								.desc
									Бесплатный прозвон клиентов перед доставкой
							.more-wrapper
								%span.more
									Подробнее
									%span.arrow >

						%li
							%span.fa-stack.fa-lg
								%i.fa.fa-circle.fa-stack-2x
								%i.fa.fa-gift.fa-stack-1x.fa-inverse
							.desc-wrapper
								.desc
									Бесплатная фирменная упаковка и маркировка посылки
							.more-wrapper
								%span.more
									Подробнее
									%span.arrow >

						%li
							%span.fa-stack.fa-lg
								%i.fa.fa-circle.fa-stack-2x
								%i.fa.fa-mobile.fa-stack-1x.fa-inverse
							.desc-wrapper
								.desc
									СМС- оповещение с номером курьера
							.more-wrapper
								%span.more
									Подробнее
									%span.arrow >

						%li
							%span.fa-stack.fa-lg
								%i.fa.fa-circle.fa-stack-2x
								%i.fa.fa-money.fa-stack-1x.fa-inverse
							.desc-wrapper
								.desc
									СМС- оповещение с номером курьера
							.more-wrapper
								%span.more
									Подробнее
									%span.arrow >

					.add-services-wrapper
						%div
							Дополнительные услуги

						%div
							%span.add-services
								%span.fa-stack
									-# %i.fa.fa-circle.fa-stack-2x
									%i.fa.fa-exclamation.fa-stack-1x

								%span.fa-stack
									-# %i.fa.fa-circle.fa-stack-2x
									%i.fa.fa-sign-out.fa-stack-1x

								%span.fa-stack
									-# %i.fa.fa-circle.fa-stack-2x
									%i.fa.fa-car.fa-stack-1x

								%span.fa-stack
									-# %i.fa.fa-circle.fa-stack-2x
									%i.fa.fa-line-chart.fa-stack-1x

			%section.section-page-title
				%h1 Калькулятор расчета

			%section#fourth-page.info-page
				.sides
					%aside.fourth-page-aside-left
						%fieldset.town
							.fieldset-title
								%i.fa.fa-building-o.fa-2x
								%span Город

							.fieldset-form
								.fieldset-input
									%p Откуда
									%input

								.fieldset-input
									%p Куда
									%input

						%fieldset.worker
							.fieldset-title
								%i.fa.fa-map-marker.fa-2x
								%span Место доставки

							.fieldset-form
								.fieldset-input
									%p Откуда
									.styled-select.blue
										%select
											%option Санкт-Петербург
											%option Москва

								.fieldset-input
									%p Куда
									.styled-select.blue
										%select
											%option Санкт-Петербург
											%option Москва

						%article.post-weight
							%img{ :src => 'images/ico-fourth-page-box.png' }
							%span Вес посылки: 5кг

					%aside.fourth-page-aside-right
						.radios
							%aside
								.style-radio
									%input#radio01{ :type => 'radio' , :name => "radio" }
									%label{ :for => "radio01"}
										%span
										%p
											Дополнительная
											%br
											упаковка
							%aside
								.style-radio
									%input#radio02{ :type => 'radio' , :name => "radio" }
									%label{ :for => "radio02"}
										%span
										%p
											Дополнительная
											%br
											опция

						.calc-result
							%strong Итого:
							%span 250 рублей

				.ranger
					.style-range
						%input{ :type => 'range' , :value => '13' , :min => '1' , :max => '28'}

			%section#fifth-page
				%h1 Остались вопросы?
				%p Получите бесплатную консультацию
				%button Получить

			%section.section-page-title
				%h1 Наши пункты выдачи
				%p Более 306 пунктов выдачи по всей России

			%section#sixth-page
				#sixth-page-overlay
				-# #cdek_map
				%iframe{ :src=>"https://www.google.com/maps/d/embed?mid=zyyKoXrs15N0.kmgWNIl6rS_g", :width=>"100%", :height=>"480"}

			%section.section-page-title
				%h1 Отзывы
				%p С нами работают крупные компании

			%section#eighth-page.info-page
				.content
					%article
						.message-box
							.dialogbox
								.body
									.message
										%strong Lorem ipsum dolor sit amet
										%br
										%span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									%span.tip.tip-down
						%img{ :src => 'images/virgin-logo.png' }

					%article
						.message-box
							.dialogbox
								.body
									.message
										%strong Lorem ipsum dolor sit amet
										%br
										%span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									%span.tip.tip-down
						%img{ :src => 'images/lg-logo.png' }

					%article
						.message-box
							.dialogbox
								.body
									.message
										%strong Lorem ipsum dolor sit amet
										%br
										%span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									%span.tip.tip-down
						%img{ :src => 'images/via-logo.png' }

			%footer

				%aside
					%h1 Мы работаем для вас!
					%p Задайте интересующие вас вопросы в форме обратной связи и специалисты свяжутся с вами в ближайшее время

					%fieldset
						%p Подписаться на новости
						%input{ :type => 'text', :placeholder => 'Введите Email', :type => 'email' }

				%aside
					%h1 8 800 250 5 250
					%p Санкт Петербург, пл.Ленина БЦ Большой офис 777

					#social-icons
						%img{ :src => 'images/facebook-logo.png' }
						%img{ :src => 'images/twitter-logo.png' }
						%img{ :src => 'images/vk-logo.png' }

		%script{ :src => 'https://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js' }
		%script{ :type=>'text/javascript' , :src=>'bundle.js' }
