%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%meta{ :"http-equiv" => "content-type" , :content =>"text/html; charset=utf-8" }
		%link{ :href=>'css/general_all.css' , :type=>'text/css' , :rel=>'stylesheet' }
	%body

		%main
			%section#first-page
				%header
					%aside
						%img{ :src=>'images/logo.jpg'}
					%nav
						%ul
							%li
								%a{ :href=>'#' } Главная
							%li
								%a{ :href=>'#' } Почему мы
							%li
								%a{ :href=>'#' } Отделения
							%li
								%a{ :href=>'#' } Отзывы
							%li
								%a{ :href=>'#' } Новости
					%aside
						%article
							.button
								%a Регистрация
							.button
								%a Вход
						%article
							.select-wrapper
								%select
									%option Санкт-Петербург
									%option Москва

		-# %script{ :type=>'text/javascript' , :src=>'bundle.js' }
