%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%meta{ :"http-equiv" => "content-type" , :content =>"text/html; charset=utf-8" }
		%link{ :href => 'components\components-font-awesome\css\font-awesome.min.css'}
		%link{ :href => 'components\jquery-modal\jquery.modal.css' , :type=>'text/css' , :rel=>'stylesheet' }
		%link{ :href => 'components\jquery-ui\themes\le-frog\jquery-ui.css', :type=>'text/css' , :rel=>'stylesheet'}

		%link{ :href=>'css/general_all.css' , :type=>'text/css' , :rel=>'stylesheet' }

		%link{ :href => 'components\unslider\dist\css\unslider.css', :type=>'text/css' , :rel=>'stylesheet'}
		%link{ :href => 'components\unslider\dist\css\unslider-dots.css', :type=>'text/css' , :rel=>'stylesheet'}
		%link{ :href => 'components\animate.css\animate.min.css', :type=>'text/css' , :rel=>'stylesheet'}
		%link{ :href => 'components\webui-popover\dist\jquery.webui-popover.min.css', :type=>'text/css' , :rel=>'stylesheet'}

	%body

		%main

			%section#first-page
				%a{:name => "main"}
				%header
					#menu
						%aside
							%a{ :href => 'index.html' }
								%img{ :src=>'images/logo.jpg'}
						%nav
							%ul
								%li
									%a{ :href=>'#first-page' } Главная
								%li
									%a{ :href=>'#second-page' } Почему мы
								%li
									%a{ :href=>'#office' } Отделения
								%li
									%a{ :href=>'#reviews' } Отзывы
								%li
									%a{ :class => 'js-show-vk-news' } Новости
							%article
								%img{ :src => 'images/ico-header-phone.png' }
								%span 8 800 337 80 91

						.tringle
							%img{ :src => 'images/header-tringel.png' }
						%aside
							%article
								.button
									%a{ :href => 'http://lk.cdek.ru/index.php/site/register'} Регистрация
								.button
									%a{ :href => 'http://lk.cdek.ru/index.php/site/login'} Вход
							%article
								%p
									%span Ваш город
								#field-for-popover-city

								.line
									.line-icon
										%img{ :src => 'images/ico-header-location.png' }
									%a#selected-city{ :href => '#'} Санкт-Петербург
									-# .styled-select.slate
									-# 	%input#select-my-city
											-# %option Выберите город...
											-# %option{ :value => "0" } Санкт-Петербург
											-# %option{ :value => "1" } Москва
								-# .line
								-# 	.line-icon
								-# 		%img{ :src => 'images/ico-header-search.png' }
								-# 	%input{ :type => 'text', :placeholder => 'Введите трек номер' }

				%article.with-slider
					.slider
						%ul
							%li
								.title
									%h1 Перевод наложенного
									%h1
										платежа на 3-ий день!
								.caption
									Обьединение отделений компании СДЭК предоставляет особые условия для Интернет-магазинов, поступления накапливаются с Понедельника по Пятницу и отправляются каждый Понедельник!

							%li Another slide
							%li My last slide

				%article.language
					%span
					#google_translate_element
					-# %a.active{ :href=>'#' } Rus
					-# %a{ :href=>'#' } Eng
					-# %a{ :href=>'#' } Chn

				#advantages
					.figures-wrapper
						%figure
							%div
								%img{ :src => 'images/ico-globus.png' }
							%figcaption
								%strong 16 лет
								%br
								успешной работы на мировом рынке

						%figure
							%div
								%img{ :src => 'images/ico-location.png' }
							%figcaption
								%strong > 300
								%br
								пунктов выдачи - отправки посылок

						%figure
							%div
								%img{ :src => 'images/ico-home.png' }
							%figcaption.fat
								%strong > 400
								%br
								бесплатного хранения посылок на нашем складе

						%figure
							%div
								%img{ :src => 'images/ico-settings.png' }
							%figcaption
								%strong API
								бесплатная интеграция вашего магазина

			%section#second-page.info-page
				%a{:name => "why-we"}
				.content
					%h1 Почему это выгодно для Вас

					%ul.whylist
						%li.wow.fadeIn
							%span.fa-stack.fa-lg
								%i.fa.fa-circle.fa-stack-2x
								%i.fa.fa-phone.fa-stack-1x.fa-inverse
							.desc-wrapper
								.desc
									Перевод наложенного платежа в 9:00 утра
								.desc-more
									%p С другой стороны консультация с широким активом играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Равным образом начало повседневной работы по формированию позиции в значительной степени обуславливает создание дальнейших направлений развития. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач.
									%p С другой стороны реализация намеченных плановых заданий способствует подготовки и реализации дальнейших направлений развития. Не следует, однако забывать, что укрепление и развитие структуры позволяет оценить значение модели развития. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки модели развития. Задача организации, в особенности же рамки и место обучения кадров представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации направлений прогрессивного развития.
							.more-wrapper
								%span.more
									Подробнее
									%span.arrow >

						%li.wow.fadeIn
							%span.fa-stack.fa-lg
								%i.fa.fa-circle.fa-stack-2x
								%i.fa.fa-gift.fa-stack-1x.fa-inverse
							.desc-wrapper
								.desc
									Бесплатная API интеграция
								.desc-more
									%p С другой стороны консультация с широким активом играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Равным образом начало повседневной работы по формированию позиции в значительной степени обуславливает создание дальнейших направлений развития. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач.
									%p С другой стороны реализация намеченных плановых заданий способствует подготовки и реализации дальнейших направлений развития. Не следует, однако забывать, что укрепление и развитие структуры позволяет оценить значение модели развития. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки модели развития. Задача организации, в особенности же рамки и место обучения кадров представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации направлений прогрессивного развития.
							.more-wrapper
								%span.more
									Подробнее
									%span.arrow >

						%li.wow.fadeIn
							%span.fa-stack.fa-lg
								%i.fa.fa-circle.fa-stack-2x
								%i.fa.fa-mobile.fa-stack-1x.fa-inverse
							.desc-wrapper
								.desc
									%strong СМС-
									оповещения с номером курьера
								.desc-more

									%p С другой стороны консультация с широким активом играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Равным образом начало повседневной работы по формированию позиции в значительной степени обуславливает создание дальнейших направлений развития. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач.
									%p С другой стороны реализация намеченных плановых заданий способствует подготовки и реализации дальнейших направлений развития. Не следует, однако забывать, что укрепление и развитие структуры позволяет оценить значение модели развития. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки модели развития. Задача организации, в особенности же рамки и место обучения кадров представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации направлений прогрессивного развития.

							.more-wrapper
								%span.more
									Подробнее
									%span.arrow >

						%li.wow.fadeIn
							%span.fa-stack.fa-lg
								%i.fa.fa-circle.fa-stack-2x
								%i.fa.fa-money.fa-stack-1x.fa-inverse
							.desc-wrapper
								.desc
									Финансовая надежность
								.desc-more

									%p С другой стороны консультация с широким активом играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Равным образом начало повседневной работы по формированию позиции в значительной степени обуславливает создание дальнейших направлений развития. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач.
									%p С другой стороны реализация намеченных плановых заданий способствует подготовки и реализации дальнейших направлений развития. Не следует, однако забывать, что укрепление и развитие структуры позволяет оценить значение модели развития. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки модели развития. Задача организации, в особенности же рамки и место обучения кадров представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации направлений прогрессивного развития.

							.more-wrapper
								%span.more
									Подробнее
									%span.arrow >

					.add-services-wrapper
						%div
							Дополнительные услуги

						%div
							.add-services
								%a{ :href=> '#' , :data => { :content => 'текст с объяснениемtst', :animation => 'pop'} }
									%img{ :src => 'images/voskl.png' }
								%a{ :href=> '#' , :data => { :content => 'текст с объяснениемtst', :animation => 'pop'} }
									%img{ :src => 'images/exitdoor.png' }

								%a{ :href=> '#' , :data => { :content => 'текст с объяснениемtst', :animation => 'pop'} }
									%img{ :src => 'images/carlogistic.png' }

								%a{ :href=> '#' , :data => { :content => 'текст с объяснениемtst', :animation => 'pop'} }
									%img{ :src => 'images/numberblock.png' }

								%a{ :href=> '#' , :data => { :content => 'текст с объяснениемtst', :animation => 'pop'} }
									%img{ :src => 'images/stair.png' }

			%section.section-page-title
				%h1 Почему это выгодно для Ваших клиентов

			%section#third-page.info-page
				.content
					%ul.whylist
						%li.wow.fadeIn
							%span.fa-stack.fa-lg
								%i.fa.fa-circle.fa-stack-2x
								%i.fa.fa-phone.fa-stack-1x.fa-inverse
							.desc-wrapper
								.desc
									Бесплатный прозвон клиентов перед доставкой
								.desc-more

									%p С другой стороны консультация с широким активом играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Равным образом начало повседневной работы по формированию позиции в значительной степени обуславливает создание дальнейших направлений развития. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач.
									%p С другой стороны реализация намеченных плановых заданий способствует подготовки и реализации дальнейших направлений развития. Не следует, однако забывать, что укрепление и развитие структуры позволяет оценить значение модели развития. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки модели развития. Задача организации, в особенности же рамки и место обучения кадров представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации направлений прогрессивного развития.

							.more-wrapper
								%span.more
									Подробнее
									%span.arrow >

						%li.wow.fadeIn
							%span.fa-stack.fa-lg
								%i.fa.fa-circle.fa-stack-2x
								%i.fa.fa-gift.fa-stack-1x.fa-inverse
							.desc-wrapper
								.desc
									Бесплатная фирменная упаковка и маркировка посылки
								.desc-more

									%p С другой стороны консультация с широким активом играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Равным образом начало повседневной работы по формированию позиции в значительной степени обуславливает создание дальнейших направлений развития. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач.
									%p С другой стороны реализация намеченных плановых заданий способствует подготовки и реализации дальнейших направлений развития. Не следует, однако забывать, что укрепление и развитие структуры позволяет оценить значение модели развития. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки модели развития. Задача организации, в особенности же рамки и место обучения кадров представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации направлений прогрессивного развития.

							.more-wrapper
								%span.more
									Подробнее
									%span.arrow >

						%li.wow.fadeIn
							%span.fa-stack.fa-lg
								%i.fa.fa-circle.fa-stack-2x
								%i.fa.fa-mobile.fa-stack-1x.fa-inverse
							.desc-wrapper
								.desc
									СМС- оповещение с номером курьера
								.desc-more

									%p С другой стороны консультация с широким активом играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Равным образом начало повседневной работы по формированию позиции в значительной степени обуславливает создание дальнейших направлений развития. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач.
									%p С другой стороны реализация намеченных плановых заданий способствует подготовки и реализации дальнейших направлений развития. Не следует, однако забывать, что укрепление и развитие структуры позволяет оценить значение модели развития. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки модели развития. Задача организации, в особенности же рамки и место обучения кадров представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации направлений прогрессивного развития.

							.more-wrapper
								%span.more
									Подробнее
									%span.arrow >

						%li.wow.fadeIn
							%span.fa-stack.fa-lg
								%i.fa.fa-circle.fa-stack-2x
								%i.fa.fa-money.fa-stack-1x.fa-inverse
							.desc-wrapper
								.desc
									СМС- оповещение с номером курьера
								.desc-more

									%p С другой стороны консультация с широким активом играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Равным образом начало повседневной работы по формированию позиции в значительной степени обуславливает создание дальнейших направлений развития. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач.
									%p С другой стороны реализация намеченных плановых заданий способствует подготовки и реализации дальнейших направлений развития. Не следует, однако забывать, что укрепление и развитие структуры позволяет оценить значение модели развития. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки модели развития. Задача организации, в особенности же рамки и место обучения кадров представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что рамки и место обучения кадров способствует подготовки и реализации направлений прогрессивного развития.

							.more-wrapper
								%span.more
									Подробнее
									%span.arrow >

					.add-services-wrapper
						%div
							Дополнительные услуги

						%div
							.add-services
								%a{ :href=> '#' , :data => { :content => 'текст с объяснениемtst', :animation => 'pop'} }
									%img{ :src => 'images/voskl.png' }
								%a{ :href=> '#' , :data => { :content => 'текст с объяснениемtst', :animation => 'pop'} }
									%img{ :src => 'images/exitdoor.png' }

								%a{ :href=> '#' , :data => { :content => 'текст с объяснениемtst', :animation => 'pop'} }
									%img{ :src => 'images/carlogistic.png' }

								%a{ :href=> '#' , :data => { :content => 'текст с объяснениемtst', :animation => 'pop'} }
									%img{ :src => 'images/numberblock.png' }

								%a{ :href=> '#' , :data => { :content => 'текст с объяснениемtst', :animation => 'pop'} }
									%img{ :src => 'images/stair.png' }

			%section.section-page-title
				%h1 Калькулятор расчета

			%section#fourth-page.info-page
				.sides
					%aside.fourth-page-aside-left


						%fieldset.town
							.fieldset-title
								%i.fa.fa-building-o.fa-2x
								%span Город

							.fieldset-form
								.fieldset-input
									%p Откуда
									%input#input-city-to{ :value => 'Москва, Москва, Россия' }

								.fieldset-input
									%p Куда
									%input#input-city-from{ :value => 'Санкт-Петербург, Санкт-Петербург, Россия'}

						%fieldset.worker
							.fieldset-title
								%i.fa.fa-map-marker.fa-2x
								%span Место доставки

							.fieldset-form
								.fieldset-input
									%p Откуда
									.styled-select.blue
										%select#calc-place-from
											%option{ :value => 0 } Склад
											%option{ :value => 1 } Дверь

								.fieldset-input
									%p Куда
									.styled-select.blue
										%select#calc-place-to
											%option{ :value => 0 } Склад
											%option{ :value => 1 } Дверь

						%article.post-weight
							%img{ :src => 'images/ico-fourth-page-box.png' }
							%span
								Вес посылки:
								%strong
									%span#range-slider-value 5
									кг
							#range-slider

					%aside.fourth-page-aside-right
						-# .radios
						-# 	%aside
						-# 		.style-radio
						-# 			%input#radio01{ :type => 'radio' , :name => "radio" }
						-# 			%label{ :for => "radio01"}
						-# 				%span
						-# 				%p
						-# 					Дополнительная
						-# 					%br
						-# 					упаковка
						-# 	%aside
						-# 		.style-radio
						-# 			%input#radio02{ :type => 'radio' , :name => "radio" }
						-# 			%label{ :for => "radio02"}
						-# 				%span
						-# 				%p
						-# 					Дополнительная
						-# 					%br
						-# 					опция

						.calc-result
							%strong
								Результат:
							%span#calc-result-block
								0 руб

			%section#fifth-page
				%a{:name => "recall"}
				%h1 Остались вопросы?
				%p Получите бесплатную консультацию
				%button.js-show-contact-modal
					Получить

			%section#office.section-page-title
				%a{:name => "office"}
				%h1 Наши пункты выдачи
				%p Более 306 пунктов выдачи по всей России

			%section#sixth-page
				#sixth-page-overlay
				-# #cdek_map
				%iframe{ :src=>"https://www.google.com/maps/d/embed?mid=zyyKoXrs15N0.k-hQNcaBe3MM", :width=>"100%", :height=>"480"}
				-# %iframe{ :src => "https://ru.batchgeo.com/map/5d06b4c1024195f1d6197324bac66732", :width => "100%", :height => "480" }
				-# %iframe{ :src => "https://mapalist.com/map/582448", :width => "100%", :height => "480", :xml => { :lang => "ru"} }

			%section#reviews.section-page-title
				%h1 Отзывы
				%p С нами работают крупные компании

			%section#eighth-page.info-page
				.slider
					%ul
						%li
							.content
								%article
									.message-box
										.dialogbox
											.body
												.message
													%strong Lorem ipsum dolor sit amet
													%br
													%span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
												%span.tip.tip-down
									%img{ :src => 'images/virgin-logo.png' }

								%article
									.message-box
										.dialogbox
											.body
												.message
													%strong Lorem ipsum dolor sit amet
													%br
													%span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
												%span.tip.tip-down
									%img{ :src => 'images/lg-logo.png' }

								%article
									.message-box
										.dialogbox
											.body
												.message
													%strong Lorem ipsum dolor sit amet
													%br
													%span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
												%span.tip.tip-down
									%img{ :src => 'images/via-logo.png' }

						%li
							.content
								%article
									.message-box
										.dialogbox
											.body
												.message
													%strong Lorem ipsum dolor sit amet
													%br
													%span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
												%span.tip.tip-down
									%img{ :src => 'images/virgin-logo.png' }

								%article
									.message-box
										.dialogbox
											.body
												.message
													%strong Lorem ipsum dolor sit amet
													%br
													%span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
												%span.tip.tip-down
									%img{ :src => 'images/lg-logo.png' }

								%article
									.message-box
										.dialogbox
											.body
												.message
													%strong Lorem ipsum dolor sit amet
													%br
													%span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
												%span.tip.tip-down
									%img{ :src => 'images/via-logo.png' }

						%li
							.content
								%article
									.message-box
										.dialogbox
											.body
												.message
													%strong Lorem ipsum dolor sit amet
													%br
													%span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
												%span.tip.tip-down
									%img{ :src => 'images/virgin-logo.png' }

								%article
									.message-box
										.dialogbox
											.body
												.message
													%strong Lorem ipsum dolor sit amet
													%br
													%span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
												%span.tip.tip-down
									%img{ :src => 'images/lg-logo.png' }

								%article
									.message-box
										.dialogbox
											.body
												.message
													%strong Lorem ipsum dolor sit amet
													%br
													%span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
												%span.tip.tip-down
									%img{ :src => 'images/via-logo.png' }

			%footer
				%article

					%aside
						%h1 Мы работаем для вас!
						%p Задайте интересующие вас вопросы в форме обратной связи и специалисты свяжутся с вами в ближайшее время

						%fieldset
							%p Подписаться на новости
							%input{ :type => 'text', :placeholder => 'Введите Email', :type => 'email' }

					%aside
						%h1 8 800 250 5 250
						%p Санкт Петербург, пл.Ленина БЦ Большой офис 777

						#social-icons
							%a{ :href => 'https://vk.com/cdekexpress'}
								%img{ :src => 'images/facebook-logo.png' }

							%a{ :href => 'https://vk.com/cdekexpress'}
								%img{ :src => 'images/twitter-logo.png' }

							%a{ :href => 'https://vk.com/cdekexpress'}
								%img{ :src => 'images/vk-logo.png' }

			#add-blocks
				#vk-news
					#vk_groups
				#select-city-popover
					#confirm-spb-block
						%p
							Ваш город
							%span Санкт-Петербург
							?
							%button.btn-yes Да
							%button.btn-select Выбрать

					#input-city-block
						%input#input-google-geo{ :value => 'Санкт-Петербург, Россия' }
						%button.btn-geo-yes Да

				-# Мадальное окно с получение консультации
				#contact-modal
					.contact-title
						%h1 Оставьте ваши данные
					.contact-body
						%form
							%span Ваше имя
							%input{ :type => 'text' }
							%span Ваш телефон
							%input{ :type => 'email' }

							%input{ :type => 'submit' , :value => 'Отправить' }

				#calculator-form-block
					%form#cdek-form{:action => "", :method => "GET"}
						/ Город-отправитель, Новосибирск
						%input#senderCityId{:hidden => "", :name => "senderCityId", :value => ""}
						/ Город-получатель
						%input#receiverCityId{:hidden => "", :name => "receiverCityId", :value => ""}
						/ Версия API
						%input{:hidden => "", :name => "version", :value => "1.0"}
						/ id тарифа, Посылка склад-дверь
						%input{:hidden => "", :name => "tariffId", :value => "1"}
						/ режим доставки, склад-дверь
						/ <input name="modeId" value="3" hidden />
						/ Вес места, кг.
						%input#calc-weight-input{:hidden => "", :name => "goods[0].weight", :value => "1"}
						/ Длина места, см.
						%input{:hidden => "", :name => "goods[0].length", :value => "10"}
						/ Ширина места, см.
						%input{:hidden => "", :name => "goods[0].width", :value => "10"}
						/ Высота места, см.
						%input{:hidden => "", :name => "goods[0].height", :value => "10"}

		%script{ :src => 'http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false', :type => 'text/javascript' }
		%script{ :src => '//vk.com/js/api/openapi.js?121' }

		:javascript
			function googleTranslateElementInit() {
				new google.translate.TranslateElement({pageLanguage: 'ru', includedLanguages: 'en,ru,zh-CN,', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
			}

		%script{ :src => '//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit', :type => 'text/javascript' }
		%script{ :type=>'text/javascript' , :src=>'bundle.js' }
