#add-blocks {
  display: none;
}

#select-city {
  display: flex;

  & > * {
    margin: 16px 6px;
  }

  button {
    color: #fff;
    border: none;
    padding: 4px 16px;
    border-radius: 4px;
  }

  p {
    color: #949494;
    span {
      text-decoration: underline;
    }
  }

  .btn-yes {
    background-color: #448aff;
  }

  .btn-select {
    background-color: #757575;
  }
}

#contact-modal {
  font-size: 24px;
  font-family: 'Roboto';

  .contact-title {
    width: 100%;
    height: 64px;
    display: flex;
    padding: 16px 0px;
    background: url(../images/bg-icons.png) #fff bottom;
    align-items: center;
    background-size: cover;
    justify-content: center;

    h1 {
      font-size: 34px;
      color: #fff;
    }

  }

  .contact-body {
    padding: 0px 54px;
    font-weight: 300;

    form {
      display: flex;
      flex-direction: column;

      span {
        margin-top: 24px;
        margin-bottom: 8px;
      }

      input {
        min-height: 64px;
      }

      input:last-child {
        margin-top: 40px;
        margin-bottom: 80px;
        background-color: #448aff;
        border: none;
        font-size: 24px;
        color: #fff;
      }
    }
  }

}

.modal {
  padding : 0px;
  min-width: 478px;
}
