section#eighth-page {
  // display: flex;
  // justify-content: center;

  .content {
    min-width: 1200px;
    display: flex;
    justify-content: center;

    & > * {

      text-align: center;

      .message {
        text-align: left;
        padding: 24px;

        strong {
          font-weight: 600;
        }

      }

      img {
        margin-top: 32px;
      }
    }
  }

  .unslider-nav {
    ol {
      padding-bottom: 8px;
      margin-top: 24px;
    }

    li {
      width: 12px;
      height: 12px;
      border-radius: 16px;
      margin-left: 16px;
      border-color: #339950;
    }

    li.unslider-active{
      background-color: #339950;
    }

  }

}
