section#eighth-page {
  // display: flex;
  // justify-content: center;

  .content {
    min-width: 1200px;
    display: flex;
    justify-content: center;

    & > * {
      width: 33%;
      text-align: center;

      .message {
        text-align: left;
        padding: 24px;

        strong {
          font-weight: 600;
        }

      }

      img {
        margin-top: 32px;
      }
    }
  }

  .unslider-nav ol li {
    background-color: #15773D;
  }

  .unslider-nav ol li.unslider-active{
    background-color: #339950;
  }
}
