section#first-page {
  display: flex;
  flex-direction: column;
  // background: url(../images/first_page_bg.jpg);
  background: url(../images/bg-first-page-earth.png) left 54px no-repeat, url(../images/first_page_bg1.jpg) repeat;
  background-size: auto;
  height: 100%;
}
