#fourth-page {
  background: url('../images/bg-fourth-page.png') top right no-repeat;
  // display: flex;
  align-items: center;
  justify-content: center;
  // flex-direction: column;

  #range-slider {
    margin-left: auto;
    width: 60%;
  }

  .ranger {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .sides {
    display: flex;
    justify-content: space-between;

    & > aside {
      padding: 16px 64px;
      width: 521px;
    }

    aside.fourth-page-aside-left {

      article.post-weight {
        display: flex;

        strong {
          font-weight: 600;
        }

        img {
          margin-right: 8px;
        }
      }

      fieldset.town {
        background: url('../images/bg-fourth-page-town.png') bottom center no-repeat;
        background-size: contain;
      }

      fieldset.worker {
        background: url('../images/bg-fourth-page-worker.png') top right no-repeat;
      }

      fieldset {
        min-height: 121px;
        margin-bottom: 40px;

        .fieldset-title {
          margin-bottom: 40px;

          & > span {
            font-size: 24px;
          }
        }

        .fieldset-form {
          display: flex;
          justify-content: space-between;

          .fieldset-input:first-child {
            margin-right: 12px;
          }

          .fieldset-input {
            min-width: 208px;

            .styled-select.blue {
              width: 208px;

              select {
                padding-left: 4px;
                width: 107%;
              }
            }

            p {
              margin-bottom: 8px;
            }

            input {
              width: 100%;
              border: none;
              padding: 8px;
              border-radius: 4px;
              box-shadow: inset 0px 0px 7px 0px rgba(68,68,68,0.4);
              -webkit-box-shadow: inset 0px 0px 7px 0px rgba(68,68,68,0.4);
              -moz-box-shadow: inset 0px 0px 7px 0px rgba(68,68,68,0.4);
            }
          }
        }

      }
    }

    aside.fourth-page-aside-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 0px;
      .radios {
        display: flex;

        aside {
          input[type=radio] {
            background: red;
          }
        }

        aside:last-child {
          margin-left: 24px;
        }
      }

      .calc-result {
        font-size: 40px;
        font-weight: 300;

        strong {
          font-weight: 600;
        }
      }
    }

  }

}
