#field-for-popover-city {
  // margin-top: 10px;
  margin-right: 20px;
}

header {
  // display: flex;
  // justify-content:  space-between;
  // position: absolute;
  width: 100%;

  height: 160px;
  min-height: 160px;
  background: url(../images/bg-header-line.png) no-repeat bottom #fff;
  background-size: contain;

  #menu {
    min-width: 1000px;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
  }

  .button {
    padding: 16px 12px;
    color: #fff;
    border: 1px solid #fff;
  }

  // Левая часть заголовка первой страницы
  aside:first-child {
    padding-top: 35px;
    padding-left: 60px;
    margin-left: auto;
    margin-right: 10px;
  }

  // Main menu block
  nav {
    color: #fff;
    padding-top: 48px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 500px;

    // Main menu list
    ul {
      display: flex;

      li {
        border: 1px solid #fff;
        padding: 12px;

        &:hover {
          border : 1px solid #1b5e20;
          cursor: pointer;
        }
      }

    }

    // Navigation big phone nubmer block
    article {
      padding-right: 8px;
      padding-bottom: 16px;
      font-size: 24px;
      display: flex;
      color: #242424;

      // Phone ico
      img {
        margin-right: 8px;
      }

      // Phone number tag
      span {
        opacity: 0.87;
        font-weight: 600;
      }
    }
  }

  div.tringle {
    // width: 60px;
    background: url(../images/header-tringel.png) no-repeat, url(../images/first_page_bg1.jpg);
    margin-left: auto;
    img {
      height: 100%;
      float: right;
    }
  }

  // Правая часть головы с регистрацией и т.п
  aside:last-child {
    padding-top: 35px;
    width: 200px;
    background: url(../images/first_page_bg1.jpg);
    text-align: center;

    p {
      font-weight: 600;
      font-size: 24px;
    }

    span {
      font-size: 12px;
    }


  }

  .social-icons {
    display: flex;
    margin-top: 32px;
    justify-content: center;

    & > * {
      margin-left: 16px;
    }
  }
}
