header {
  display: flex;
  justify-content:space-between;
  position: absolute;
  width: 100%;

  height: 160px;
  background: url(../images/bg-header-line.png) no-repeat bottom #fff;
  background-size: contain;

  .button {
    padding: 16px 12px;
    color: #fff;
    border: 1px solid #fff;
  }

  // Левая часть заголовка первой страницы
  aside:first-child {
    padding-top: 35px;
    padding-left: 60px;
  }

  // Main menu block
  nav {
    padding-top: 48px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    // Main menu list
    ul {
      display: flex;

      li {
        padding: 12px;
      }
    }

    // Navigation big phone nubmer block
    article {
      padding-right: 8px;
      padding-bottom: 16px;
      font-size: 24px;
      display: flex;

      // Phone ico
      img {
        margin-right: 8px;
      }

      // Phone number tag
      span {
        opacity: 0.87
      }
    }
  }

  div.tringle {
    width: 60px;
    background: url(../images/header-tringel.png) no-repeat, url(../images/first_page_bg1.jpg);
    margin-left: auto;
    img {
      height: 100%;
      float: right;
    }
  }

  // Правая часть головы с регистрацией и т.п
  aside:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(../images/first_page_bg1.jpg);

    // Блок с входом и регистрацией
    article:first-child {
      display: flex;
      padding: 12px 56px 12px 18px;

      .button {
        min-width: 100px;
        text-align: center;
        margin-left: 8px;
        a {
          color: #fff;
        }
      }
    }

    // Блок с формой выбора города и трек-номера
    article:last-child {
      padding-bottom: 8px;
      color: #fff;
      font-size: 12px;

      & > p {
        font-style: italic;
        margin-left: 24px;
        margin-bottom: 8px;
      }

      .line {
        display: flex;

        .line-icon {
          width: 24px;
        }

        img {
          margin-right: 8px;
        }
      }

      // Строка с выбором города
      .line:first-child {

      }

      // Строка трек-номера
      .line:last-child {
        margin-top: 16px;

        input {
          width: 157px;
          height: 20px;
        }
      }
    }

  }
}
