section#second-page {
  display: flex;
  justify-content: center;
  background: url('../images/bg-second-page.png') bottom left no-repeat;
  background-size: 24%;

  h1 {
    text-align: center;
    color: #444444;
    font-size: 45px;
    margin-bottom: 92px;
  }

  .content {
    width: 1200px;
  }

}
