body {
	font-family: 'Roboto' , sans-serif;
	background-color: #fff;
}

a{
	color: #505050;
	text-decoration: none;
}

.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0 #fff;
	 background-size: contain;
	 height: 19px;
   overflow: hidden;
   width: 240px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 20px;
  //  padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

.styled-select.slate {
   background: url(../images/select-arrow.png) no-repeat right center #fff;
   width: 156px;
}

.styled-select.slate select {
  //  border: 1px solid #ccc;
   font-size: 12px;
   width: 172px;
}

.styled-select.blue {
	height: 32px;
   background: url(../images/select-arrow-blue.png) no-repeat right center #fff;
  //  width: 156px;
}

.styled-select.blue select {
	font-size: 16px;
	height: 32px;
	border-radius: 4px;
	box-shadow: inset 0px 0px 7px 0px rgba(68,68,68,0.4);
	-webkit-box-shadow: inset 0px 0px 7px 0px rgba(68,68,68,0.4);
	-moz-box-shadow: inset 0px 0px 7px 0px rgba(68,68,68,0.4);
}

main {
	min-width: 1100px;
}
